#about-page #about{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    letter-spacing: normal;
    /* background-color: yellow; */
    
}

#about-page #about h1{
    font-size: 275%;
}


#about-page #about p{
    color: #9e9aa7;
}

#about-page .card{
        text-align: center;
        display: flex;
        width: 50%;
        margin: 0 auto;
        padding: 5px;
      }

#about-page .rob{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex: 50%;
    max-width: 300px;
    margin: 10px;
}

#about-page .sean{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex: 50%;
    max-width: 300px;
    margin: 10px;
}

#about-page .aleksei{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex: 50%;
    max-width: 300px;
    margin: 10px;
}

#about-page .vincent{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    flex: 50%;
    margin: 10px;
}

      

/* #about-page .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */
      
#about-page .title {
        color: grey;
        font-size: 18px;
      }
 
      
#about-page .card button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #F28C28;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
      }
      
      #about-page .card a {
        text-decoration: none;
        font-size: 22px;
        color: black;
      }
      
      #about-page .card button:hover, a:hover {
        opacity: 0.7;
      }

      #about-page .card img{
        max-width:100%;
        max-height:100%;
      }

