.cardContainer {
    width: 25%;
    border-radius: 15px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
    background-color: yellow;
}

.cardContainerSponsor {
    width: 300px;
    border-radius: 25px;
    height: 670px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
    background-color: #F28C28;

      grid-row-start: 2;
   grid-column-start: 7;

   grid-row-end: 6;
   grid-column-end: 9;
     transform: translate(0px, -150px);
}


#main {
    display: grid; 		
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    height: 100%;
    background-color: #F8F8F8;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-gap: 1em;
    text-align: center;
    justify-content: center;
   
}

#question {
    width: 775px;
    height: 150px;
    border-radius: 15px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
    margin: auto;
    /* padding-bottom: 10px;w */
    background-color: rgba(242,140,40,0.25);
    /* position: absolute;
    top: 150px;
    right: 700px; */
    /* display: block; */
    grid-row-start: 5;
    grid-column-start: 3;
 
    grid-row-end: 6;
    grid-column-end: 7;
    transform: translate(0px, -190px);
    
}

.cardInfoContainer {
    width: 90%;
    border-radius: 15px;
    /* padding: 5px; */
    /* height: 190px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
    background-color: rgb(255, 111, 97);
    mix-blend-mode: hard-light;
    grid-row-start: 2;
    grid-column-start: 3;
 
    grid-row-end: 3;
    grid-column-end: 4;
    transform: translate(0px, -150px);
}

.cardInfoContainer2 {
    width: 90%;
    border-radius: 15px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
    /* padding: 5px; */
    background-color: rgb(97, 179, 255);
    mix-blend-mode: hard-light;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 5;
    transform: translate(0px, -150px);
}

.cardInfoContainer3 {
    width: 90%;
    border-radius: 15px;
    padding: 5px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
    background-color: rgb(189, 97, 255);
    mix-blend-mode: hard-light;
    grid-row-start: 2;
    grid-column-start: 5;
 
    grid-row-end: 3;
    grid-column-end: 6;
    transform: translate(0px, -150px);
}

.cardInfoContainer4 {
    width: 90%;
    padding: 5px;
    border-radius: 15px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
    background-color: rgb(255, 97, 118);
    mix-blend-mode: hard-light;
    grid-row-start: 2;
    grid-column-start: 6;
 
    grid-row-end: 3;
    grid-column-end: 7;
    transform: translate(0px, -150px);
}

.SideStats {
    float: right;
    height: 100%;
    width: 200px;
    top: 25;
    gap: 25px;
    justify-content: center;
    padding-left: 1px;
    position: absolute;
    top: 150px;
    right: 450px;
}

#question h3 {
    padding-left: 10px;
}



#imgWrapper {
    text-align: center;
}

img {
    border-radius: 50%;
    max-width: 50%;
}


.cardContainer1{
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 5;
    grid-column-end: 5;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    transform: translate(0px, -155px);
}

.cardContainer2{
    grid-row-start: 3;
    grid-column-start: 5;
    border-radius: 15px;
    grid-row-end: 5;
    grid-column-end: 7;
    background-color: white;
    transform: translate(0px, -155px);
}

.outer {
    display: flex;
}

#zones {
    padding: 50px 0;
}

#zones p {
    font-size: 30px;
}

#buttons {
    text-align: center;
    padding-bottom: 15px;
    width: 200px;
    grid-row-start: 5;
    grid-column-start: 7;
 
    grid-row-end: 6;
    grid-column-end: 9;
    transform: translate(50px, -100px);

}

#title{
    text-align: center;
    /* background-color: #F28C28; */
    grid-row-start: 1;
    grid-column-start: 5;
 
    grid-row-end: 2;
    grid-column-end: 7;
    transform: translate(-30px, 0px);
}

#settings {
    padding-top: 10px;
    color: teal;

}

#proceed {
    background-color: #F28C28;
    color: white;
    font-size: 15px;
    text-decoration: none;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    text-align: center;
    width: 90px;
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

#buttons div {
    padding-top: 25px;
}

#logo {
    padding-left: 85px;
    padding-top: 20px;
}

.App {
    height: 100vw;
    height: 100vh;
    background-color: #F8F8F8;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    padding-top: 10px;
}
