.message {
    position: relative;
    max-width: 49%;
    padding: 10px;
    margin: 10px 0 20px;
    text-align: left;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height: 1.4;
    padding: 15px;
    letter-spacing: 0.2px;
    color:#686b87;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 5%), 0 5px 15px 0 rgb(0 0 0 / 5%);
}
.message.computer {
    border-top-right-radius: 3px;
    background-color: #e6edf6;
    border-radius: 0 15px 15px 15px;
}

.message.human {
    align-self: flex-end;
    border-top-left-radius: 3px;
    background-color: #f2f2f2;
    border-radius: 15px 0 15px 15px;
}


.message.computer::before,.message.human::before {
    content: "";
    position: absolute;
    top: 0;
    
    width: 0px;
    height: 0px;
    border-top: 0px solid transparent;
    border-bottom: 20px solid transparent;
    
}

.message.computer::before {
    border-right: 10px solid #e6edf6;
    left: -6px;
}

.message.human::before {
    border-left: 10px solid #f2f2f2;
    right: -6px;
}



