#companion-image {
    border-radius: 100px;
    border: 6px solid #e6edf7;
    min-height: 150px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#companion-info {
    position: relative;
    top: -50px;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    
}

#companion-info > li, #companion-info > p {
    padding: 5px 15px;
    color:#747c81;
}


.companion-card-background {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #3498db;  
}


.companion-card-background:after {
    content: '';
    background: inherit;
    bottom: 0;
    display: block;
    height: inherit;
    position: absolute;
    left: 0;
    right: 0;
    transform: skewY(-8deg);
    -webkit-transform: skewY(-8deg);
    transform-origin: 100%;
}
