    #conversation-page {
      /* text-align: center; */
      /* background-color: blanchedalmond; */
      padding: 40px;

    }

    .chat-container>div:first-child {
      max-height: 400px;
      overflow-y: scroll;
      min-height: 420px;
      padding: 20px;
    }


    #header-text>h2 {
      font-size: 1.45rem;
      font-weight: 600;
    }

    #header-text>p, .sub-text {
      color: #686b87;
      margin-top: 0.25rem;
      font-size: 0.875rem;
      margin-bottom: 1rem;
    }


    .flex-container {
      display: flex;
      justify-content: space-around;
      padding: 25px 0;
    }

    #controls-container {
      display: flex;
      padding: 20px 0;
      align-items: center;
      justify-content: space-between;
    }

    .chat-container {
      /* border: 1px solid #eee; */
      width: 55%;
      /* padding: 20px; */
      display: flex;
      flex-direction: column;
    }

    .opponent-container {
      width: 30%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      color: var(--smooth-black-color);
      /* max-height: 460px; */

    }

    .recording-button {
      max-width: 200px;
      align-self: flex-end;
    }



    @media only screen and (max-width: 700px) {
      #conversation-page {
        text-align: center;
      }

      .flex-container {
        flex-flow: column;
        align-items: center;
      }

      .opponent-container, .chat-container {
        width: 80%;
      }

      .chat-container {

        margin-top: 50px;

      }

    }



    @media only screen and (max-width: 500px) {
      .opponent-container, .chat-container {
        width: 100%;
      }

      #conversation-page {
        padding: 15px;
      }

      header.nav>svg>path:last-child {
        display: none;

      }
    }