

#home-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(85vh - 64px);
}

#home-page > img {
    max-width: 500px;
}

#land-text {
    max-width: 40%;
}

#land-text > h1 {
    font-size: 3em;
    color:#35323e;
    letter-spacing: 1.4px;
    line-height: 1.6;
}

.bold {
    font-weight: 600 !important;
}


#land-text > p {
    font-weight: 500;
    color:#9e9aa7;
    font-size: 16px;
    letter-spacing: 1.8px;
}

#land-text > p > span {
    letter-spacing: normal;
}

#start-btn {
    background-color: var(--theme-color);
    border-radius: 100px;
    padding: 12px 60px;
    font-size: 1.2em;
    position: relative;
    top: 40px;
}

#start-btn > a {
    color: #fff;
}


