
  .title{
    text-align:center;
    line-height: 10px;
  }
  
  .title h1{
    font-size: 275%;
  }
  
  .title h4{
    font-weight: 350;
    padding-bottom: 0;;
  }
  
  .title img {
    width: 35%;
  }
  
  .settings{
    text-align: center;
    padding-top: 10px;
    color: teal;
  }

  .settings a{
    text-decoration: none;
  }
  
  .settings a:visited{
    color: inherit;
  }
  
  .settings a:hover{
    opacity: 0.65;
  }