.modes{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
}


.modes a{
    background-color: #F28C28;
    color: white;
    font-size: 15px;
    text-decoration: none;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    text-align: center;
    width: 90px;
}


.modes a:hover{
    opacity: 0.65;
    cursor: pointer;
}