#reg-page h1 {
    text-align: center;

}

#reg-page img {
    padding-top: 15px;
}

/* #reg-page input {
    border: none;
    border-bottom: 1px solid black;
    width: 65%;
} */

#reg-page input:focus {
    outline: none;
}

#reg-page {
    text-align: center;
    padding-top: 100px;
}

#reg-page .btnSubmit {
    background-color: #F28C28;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px;
    color: white;

}

#reg-page .btnSubmit:hover {
    opacity: 0.65;
}

#reg-page #signUp {
    color: #F28C28;
}


#reg-page form {
    border-radius: 15px;
    width: 20em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}