table {
    border-radius: 15px;
    width: 45em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th {
    font-size: 18px;
}

tr td {
    padding: 25px;
}

#scoreDisplay {
    background-color: #ffb050;
    font-size: 1.5em;
    font-weight: bolder;
    height: 3em;
    width: 10em;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    top: -15px;
}

/* .scoreValue {
    font-size: 1.1em;
    font-weight: bold;
} */

.overallScoreValue {
    font-size: 1.5em;
}

h1, h2, p {
    text-align: center;
}

.popover Button {
    background-color: #ffba65;
    font-weight: bold;
}
#proceed{
    background-color: #F28C28;
    color: white;
    font-size: 15px;
    text-decoration: none;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    text-align: center;
    width: 90px;
}
#buttons div{
    padding-top: 25px;
 }