:root {
  --default-color: #3c4250;
  --theme-color: #F28C28;
  --background-color: hsl(230, 43%, 97%);
  --smooth-black-color: #282a32;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 0.925rem;
  -webkit-font-smoothing: antialiased;
  /* background-color: var(--background-color); */
}

a {
  text-decoration: none;
}


hr {
  border: 0;
  width: 95%;
  height: 0px;
  border-top: 1px solid #e6e6e6;
  margin: 10px 55px;
}


.smooth-box {
  background-color: var(--c-background-primary);
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 5%), 0 5px 15px 0 rgb(0 0 0 / 5%);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}


h4 {
  margin: 10px;
}