.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    border-bottom: 1px solid #eceef3;
    padding: 0 25px;
}

.nav a{
    padding-right: 20px;
    font-size: 16px;
    text-decoration: none;
}

.selected_page {
    color: var(--theme-color);
}

a {
    color:var(--default-color);
}



a:hover{
    opacity:0.65;
    color: #F28C28;
}